<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD EjS</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <form action="/reader" method="post" class="formsty">
        <h1>!!Create Account!!</h1>
        <label for="name" class="lab_sty">Name
            <input type="text" id="name" name="name" class="input_sty" required>
        </label>
        <label for="username" class="lab_sty">Username
            <input type="text" id="username" name="username" class="input_sty" required>
        </label>
        <label for="imgu" class="lab_sty">Img_url
            <input type="url" id="imgu" name="imgu" class="input_sty" required>
        </label>
        <label for="submit" class="lab_sty">
            <a href="/">back</a> 
            <input type="submit" value="Submit" id="btn">
        </label>
    </form>
    
</body>

</html>